header {
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.image {
    margin-right: 450px;
    width: 136px;
    height: 16px;
}
.catalog{
    background-color: rgba(247, 247, 247, 1);
}
.container{
    display: flex;
    align-items: center;
}

